- if @todo.valid?
  var text = "#{ escape_javascript(render partial: 'todo', object: @todo) }";
  $('#todos').append(text);

  $("#form").toggle();
  $("#form :input").not(":submit").val('');

update_status("#{flash[:notice]}","#{flash[:alert]}");